<div class="container-fluid d-flex align-items-center flex-column justify-content-center text-center mt-5">
<h3 class="text-info text-uppercase">Cambiar el menú</h3>
<h5 class="text-success text-uppercase">Change menu</h5>

<%= render 'form_edit', user: @user %>

<br>
<%= link_to "cancelar", logout_path, method: :delete, class:"text-info mt-5 text-uppercase" %>
