<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row align-text-center">
    <div class="col-12 text-center">
      <h1 class="text-info">Bienvenido a Las Palmas, Cozumel</h1>
    </div>
    <div class="col-12 text-center">
      <h2>Welcome to Las Palmas, Cozumel</h2>
    </div>
  </div>
</div>
<% @users.each do |user|%>
  <% if user.avatar.attached? %>
    <div class="container-fluid">
      <img src="<%=(url_for(user.avatar))%>" class="image">
    </div>
  <% end %>
<% end %>

<br>
<div class="d-flex flex-column align-items-center mb-5">
  <%= link_to 'cambiar menú', login_path , class: 'link text-uppercase anchor_b' %>
<br>
</div>

<% if false %>
<div class="d-flex flex-column align-items-center mb-5">
  <%= link_to 'Registrar Usuario', new_user_path, class: 'link text-uppercase anchor_a' %>
<br>
</div>
<% end %>
